Task Requirements
1.‘он занимает всю площадь экрана, блок находитс€ по центру вертикально и горизонтально. 
2.Ќа планшетах упаковки располагаютс€ треугольником, на смартфонах друг под другом. 
3.»нформаци€ о продукте может мен€тьс€. 
4. ажда€ из упаковок может быть выбрана или недоступна дл€ выбора. ¬ыбор осуществл€етс€ нажатием на упаковку или на текст Ђкупиї в описании. 
5.ћожно выбрать одновременно несколько упаковок, а также отменить свой выбор повторным нажатием на упаковку. 
6.—осто€ние наведени€ примен€етс€ к выбранной упаковке не сразу, а после того, как курсор ушел с нее после первоначального выбора